body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background: #f5f5f5;
}  
/* HEADER */
.header-container {
  background-image: url('/image/image.png');
  background-size: cover;
  background-position: center;
  height: 100px;
  padding: 0 20px;

  display: flex;
  align-items: center;
}

.header-container a {
  color: white;
  text-decoration: none;
  font-size: 32px;
  transition: 0.3s;
}

.header-container a:hover {
  color: #ececec; /* giữ tone xám */
}

/* NAVBAR */
.navbar-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
  padding: 10px 20px;
  background-color: #c5c5c5;
}

.navbar-container a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
}

.navbar-container a:hover {
  color: #ffffff;
}
/* FOOTER */
.footer-wrapper {
  display: flex;
  justify-content: center;
}

.footer-container {
  width: 100%;
  background: #c5c5c5;
  padding: 30px;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.footer-content h4 {
  margin-bottom: 10px;
}

.footer-content p,
.footer-content a {
  font-size: 14px;
  color: #333;
  opacity: 0.8;
  text-decoration: none;
}

.footer-content a:hover {
  color: #000;
  opacity: 1;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
/* CART MENU */
.cart-menu {
  position: relative;
}

#cartBtn {
  border: none;

  background: white;

  padding: 10px 16px;

  border-radius: 10px;

  cursor: pointer;

  font-size: 14px;

  transition: 0.2s;
}

#cartBtn:hover {
  background: #f3f3f3;
}

#cartCount {
  background: red;

  color: white;

  border-radius: 50%;

  padding: 2px 7px;

  font-size: 12px;

  margin-left: 6px;
}

.cart-dropdown {
  position: absolute;

  top: 120%;
  right: 0;

  width: 350px;

  background: white;

  border-radius: 16px;

  box-shadow:
    0 10px 30px rgba(0,0,0,0.12);

  overflow: hidden;

  z-index: 999;
}

.cart-item {
  display: flex;

  gap: 12px;

  padding: 14px;

  border-bottom:
    1px solid #eee;
}

.cart-item img {
  width: 60px;
  height: 60px;

  object-fit: cover;

  border-radius: 10px;
}

.cart-info h4 {
  font-size: 14px;
  margin-bottom: 5px;
}

.cart-info p {
  color: #666;
  font-size: 13px;
}

.cart-footer {
  padding: 15px;
}

.cart-footer a {
  display: block;

  text-align: center;

  margin-top: 10px;

  background: black;

  color: white;

  text-decoration: none;

  padding: 12px;

  border-radius: 10px;
}

.hidden {
  display: none !important;
}